<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</head>

<style>
    .col{
        display:flex;
        flex-direction:column;
    }
    .caseList, .userLst{
        display:flex; 
        flex-direction: column;
        width:250px;
        background-color:#DDDDDD;
        height:450px;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .userLst{
        background-color:#EDEDED;
        border-right:2px dashed black;
    }
    .caseList>a, .userLst>a{
        text-decoration:none;
        color:black;
        padding:10px;
        border: 1px solid black; 
        width:210px;
    }
    .preview{
        width:700px;
        height:500px;
        object-fit: contain;
        background-color:black;
    }
    .actionsRow{
        width:1202px;
        display:flex;
        flex-direction:row-reverse;
    }
    .del{
        width:200px;
        text-align:center;
        text-decoration:none;
        font-weight:bold;
        color:white;
        background-color:red;
        padding:10px;
    }
    .deleteLink:hover{
        text-decoration: underline;
    }
    .logoutLink:hover{
        font-weight: 500;
        color:#f8f9fa!important;
    }
</style>
<body>
    <!-- <div style="display:flex;">
        <div class="col">
            <p><b>Cписок пользоватлей</b></p>
            <div class="userLst">
                
                {% for user in users %}
                    <a href="/main?selectedUser={{user}}">
                        {{user}}     
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <p><b>Cписок нарушений</b></p>
            <div class="caseList">
                {% for warn in warnings %}
                    <a href="/main?selectedUser={{curUser}}&warnName={{warn}}">
                        {{warn}}     
                    </a>
                {% endfor %}
            </div>
        </div>
        
        {%if img == "" :%}
            <img class="preview" src="/sys/select.png">
        {%else %}
            <img class="preview" src="{{img}}">
        {%endif %}
        
    </div>
    <div class="actionsRow">
        <a class="del" href="/del?imgPath={{img}}&selectedUser={{curUser}}">Удалить</a>
    </div> -->
    <div class="row">
        <div class="col-md-2">.</div>
        <div class="col-md-8">
            <div class="row rounded bg-dark mt-2 shadow p-2">
                <div class="col-md-4 ml-0 text-left m-auto"><h4 class='text-light'>PhotoCamDetector</h4></div>
                <div class="col"></div>
                <div class="col-md-4 mr-0 time text-right text-light m-auto" id='clock' onload="currentTime()"></div>
                <div class="col-md-1 border-left mr-0 time text-right m-auto"><a class='text-decoration-none text-muted logoutLink' href='/logout'>logout</a></div>
            </div>
            <div class="row mt-3" style='height:500px; max-height: 500px'>
                <div class="col-5 p-0">
                    <div class="pr-3">
                        <div class='col p-0 rounded bg-light shadow h-100'>
                            <div class="row mw-100 m-0 h-100" style='height:500px'>
                                <div class="col-6 border-right overflow-auto mh-100" style='height:500px'>
                                    <div class="row sticky-top text-center d-flex justify-content-center bg-secondary rounded-left">
                                        <h6 class='text-light m-1'>Рабочие места</h6>
                                    </div>
                                    {% for user in users %}
                                        <div class="row">
                                            <a href="/main?selectedUser={{user[0]}}" class='text-nowrap text-decoration-none text-truncate mw-100'>
                                                {{user[0]}} - {{user[1]}}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-6 overflow-auto" style='height:500px'>
                                    <div class="row sticky-top text-center d-flex justify-content-center bg-secondary rounded-right">
                                        <h6 class='text-light m-1'>Нарушения</h6>
                                    </div>
                                    {% for warn in warnings %}
                                        <div class="row">
                                            <a href="/main?selectedUser={{curUser}}&warnName={{warn[0]}}">
                                                {{warn[1]}}     
                                            </a>
                                        </div>  
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col"></div> -->
                <div class="col-7 rounded bg-light shadow p-0 h-100">
                    {%if img == "" :%}
                        <img class='m-0 p-0 h-100 w-100 rounded' src="/sys/select.png">
                    {%else %}
                        <img class='m-0 p-0 h-100 w-100 rounded' src="{{img}}" >
                        <div class='row w-100 ml-0 pr-3 pl-3' style='margin-top: -40px;'>
                            <div class="col rounded bg-light">
                                <div class="row d-flex align-items-center justify-content-space" style='height: 30px;'>
                                    <div class='col-10 border-right' style='font-size: 12px;'>{{curUser}} > {{img}}</div>
                                    <div class='col-2'>
                                        <a class='text-danger deleteLink' href="/del?imgPath={{img}}&selectedUser={{curUser}}">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        
                    {%endif %}
                </div>
            </div>
        </div>

        <div class="col-md-2">.</div>
    </div>
    
    <script>
        function currentTime() {
            let date = new Date(); 
            let day = date.getDate();
            let month = date.getMonth() + 1;
            let year = date.getFullYear();
            let hh = date.getHours();
            let mm = date.getMinutes();
            let ss = date.getSeconds();
            let session = "AM";
            if(hh > 12){
                session = "PM";
             }
          
             hh = (hh < 10) ? "0" + hh : hh;
             mm = (mm < 10) ? "0" + mm : mm;
             ss = (ss < 10) ? "0" + ss : ss;
              
             let time = day + "-" + month + "-" + year + " " + hh + ":" + mm + ":" + ss;
          
            document.getElementById("clock").innerText = time; 
            let t = setTimeout(function(){ currentTime() }, 1000); 
          
          }
          
          currentTime();
    </script>
    
</body>

</html>